﻿@model List<NextSolRemote.Database.Department>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <br />
    <div class="row" style="float:right">
        <input type="button" class="btn btn-success" onclick="addDepartment()" value="+ Add New" data-toggle="modal" data-target="#myModal" />
    </div>
    <br />
    <br />
    <div class="row">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                        No of Users
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.Active
                        </td>
                        <td>
                            @item.Users.Count()
                        </td>
                        <td>
                            @*Some Issue in VS So pass active like that*@
                            <input type="button" class="btn btn-primary" value="Edit" data-toggle="modal" data-target="#myModal" onclick="editDepartment(@item.id, '@item.Name', '@item.Description', '@item.Address', '@(item.Active == true ? "on":"off")')" />
                            <input type="button" class="btn btn-danger" value="Del" data-toggle="modal" data-target="#confirmDepartmentDelete" onclick="deleteDepartment(@item.id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>,
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modelTitle">Add Department</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="number" class="hidden" id="deptId" />
                    <div class="col-md-6">
                        <label>Name<span style="color:red">*</span></label>
                        <input type="text" id="deptName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Description</label>
                        <input type="text" id="deptDesc" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Address</label>
                        <textarea id="deptAddress" class="form-control"></textarea>
                    </div>
                    <div class="col-md-2">
                        <label>Active</label>
                        <input type="checkbox" id="deptActive" style="width:20px;" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary SaveDepartment" onclick="addUpdate()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmDepartmentDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Department</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="danger" style="font-weight:bold; text-align:center">
                        Are You Sure!
                        <br />
                        You want to delete this item!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" onclick="confirmDelete()">YES</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

<script>
    var departmentDeletedId = 0;
    var departmentId = 0;

    function addDepartment() {
        $(".modelTitle").text("Add Department");
        $(".SaveDepartment").text("Save");
        $("#deptId").val(0);
        $("#deptName").val("");
        $("#deptDesc").val("");
        $("#deptAddress").val("");
        $("#deptActive").prop("checked", false);
    }

    function editDepartment(id, name, description, address, active) {
        if (active == "on") {
            $("#deptActive").prop("checked", true);
        }
        else {
            $("#deptActive").prop("checked", false);
        }
        $("#deptName").val(name);
        $("#deptDesc").val(description);
        $("#deptAddress").val(address);
        $("#deptId").val(id);
        $(".modelTitle").text("Update Department");
        $(".SaveDepartment").text("Update");
    }

    function addUpdate() {
        if ($("#deptId").val() == "") {
            departmentId = 0;
        }
        else {
            departmentId = $("#deptId").val()
        }
        var model = {
            Name: $("#deptName").val(),
            Address: $("#deptAddress").val(),
            Description: $("#deptDesc").val(),
            Active: $("#deptActive").prop("checked"),
            id: departmentId
        };
        if (model.Name == "") {
            alert("Please enter required fields!");
            return;
        }

        $.ajax({
            url: "/Department/AddUpdate",
            data: model,
            type: "POST",
            success: function (response) {
                if (response) {
                    alert("Saved Successfully!");
                    location.reload();
                } else {
                    alert("Error!");
                }
            }
        });
    }

    function deleteDepartment(Id) {
        departmentDeletedId = Id;
    }

    function confirmDelete() {
        $.ajax({
            url: "/Department/Delete",
            data: { "Id": departmentDeletedId },
            type: "POST",
            success: function (res) {
                if (res) {
                    alert("Department Deleted Successfully!");
                    location.reload();
                    $("#confirmDepartmentDelete").modal("toggle");
                } else {
                    $("#confirmDepartmentDelete").modal("toggle");
                    alert("There is some error please refresh the page.");
                }
            }
        });
    }
</script>

}


