﻿@model List<NextSolRemote.Database.User>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <br />
    <div class="row" style="float:right">
        <input type="button" class="btn btn-success" onclick="addUser()" value="+ Add New" data-toggle="modal" data-target="#myModal" />
    </div>
    <br />
    <br />
    <div class="row">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Active
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Country
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @(item.Department?.Name)
                        </td>
                        <td>
                            @item.Active
                        </td>
                        <td>
                            @*Some Issue in VS So pass active like that*@
                            <input type="button" class="btn btn-primary" value="Edit" data-toggle="modal" data-target="#myModal" onclick="editUser(@item.id, '@item.FirstName', '@item.LastName', '@item.Country', '@item.Address', '@item.Description', '@item.DepartmentID', '@(item.Active == true ? "on" : "off")')" />
                            <input type="button" class="btn btn-danger" value="Del" data-toggle="modal" data-target="#confirmDepartmentDelete" onclick="deleteUser(@item.id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title modelTitle">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="number" class="hidden" id="userId" />
                    <div class="col-md-6">
                        <label>First Name<span style="color:red">*</span></label>
                        <input type="text" id="userFirstName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Last Name<span style="color:red">*</span></label>
                        <input type="text" id="userLastName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Description</label>
                        <input type="text" id="userDescription" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Department</label>
                        <select class="form-control" id="userDepartment">
                            <option value="">Select Department</option>
                            @foreach (var item in ViewBag.Department)
                            {
                                <option value="@item.id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Country</label>
                        <input type="text" id="userCountry" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Active</label>
                        <input type="checkbox" id="userActive" style="width:20px;" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Address</label>
                        <textarea id="userAddress" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary saveUser" onclick="addUpdate()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmUserDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="danger" style="font-weight:bold; text-align:center">
                        Are You Sure!
                        <br />
                        You want to delete this item!
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" onclick="confirmUserDelete()">YES</button>
            </div>
        </div>

    </div>
</div>


@section scripts {

    <script>
        var userDeletedId = 0;
        var userId = 0;

        function addUser() {
            $("#modelTitle").text("Add User");
            $(".SaveUser").text("Save");
            $("#userId").val(0);
            $("#userFirstName").val("");
            $("#userLastName").val("");
            $("#userCountry").val("");
            $("#userDescription").val("");
            $("#userAddress").val("");
            $("#userDepartment").val("");
            $("#userActive").prop("checked", false);
        }

        function editUser(id, fName, lName, country, address, description, deptId, active) {
            if (active == "on") {
                $("#userActive").prop("checked", true);
            }
            else {
                $("#userActive").prop("checked", false);
            }
            $("#userId").val(id);
            $("#userFirstName").val(fName);
            $("#userLastName").val(lName);
            $("#userCountry").val(country);
            $("#userDescription").val(description);
            $("#userAddress").val(address);
            $("#userDepartment").val(deptId);
            $(".modelTitle").text("Update User");
            $(".saveUser").text("Update");
        }

        function addUpdate() {
            if ($("#userId").val() == "") {
                userId = 0;
            }
            else {
                userId = parseInt($("#userId").val());
            }
            var model = {
                FirstName: $("#userFirstName").val(),
                LastName: $("#userLastName").val(),
                Country: $("#userCountry").val(),
                Address: $("#userAddress").val(),
                Description: $("#userDescription").val(),
                DepartmentID: $("#userDepartment").val(),
                Active: $("#userActive").prop("checked"),
                id: userId
            };

            if (model.FirstName == "" || model.LastName == "") {
                alert("Please enter required fields!");
                return;
            }

            $.ajax({
                url: "/User/AddUpdate",
                data: model,
                type: "POST",
                success: function (response) {
                    if (response) {
                        alert("Saved Successfully!");
                        location.reload();
                    } else {
                        alert("Error!");
                    }
                }
            });
        }

        function deleteUser(Id) {
            userDeletedId = Id;
            $("#confirmUserDelete").modal();
        }
        function confirmUserDelete() {
            $.ajax({
                url: "/User/Delete",
                data: { "Id": userDeletedId },
                type: "POST",
                success: function (res) {
                    if (res) {
                        alert("User Deleted Successfully!");
                        location.reload();
                        $("#confirmUserDelete").modal('hide');
                    } else {
                        alert("There is some error please refresh the page.");
                    }
                }
            });
        }
    </script>
}